body {
background-color: rgb(170, 170, 151);
}

.wrapper {
border: 0px solid #1C6EA4;
border-radius: 0px 0px 40px 40px;
width: 500px;
height: auto;
background-color: rgb(148, 53, 72);
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
color: #fff;
font-size: 50px;
gap: 10px;
padding: 10px;
-webkit-box-shadow: 0px 0px 50px 6px rgba(0,0,0,0.88); 
box-shadow: 0px 0px 50px 6px rgba(0,0,0,0.88);
margin: auto;
}

.formSet {
  display: flex;
  flex-direction: column;
}


#generate {
    width: 100px;
    height: 30px;
    border-color: blue;
    border-radius: 15px;
    color: #fff;
    box-shadow: 0 0 40px 40px blue inset, 0 0 0 0 blue;
    transition: all 0.5s ease-in-out;
    
    &:hover {
      box-shadow: 0 0 10px 0 blue inset, 0 0 10px 4px blue;
      color:blue;
    }
  }

  #clear {
    width: 100px;
    height: 30px;
    border-color: blue;
    border-radius: 15px;
    color: #fff;
    box-shadow: 0 0 40px 40px blue inset, 0 0 0 0 blue;
    transition: all 0.5s ease-in-out;
    
    &:hover {
      box-shadow: 0 0 10px 0 blue inset, 0 0 10px 4px blue;
      color:blue;
    }
  }

  #content {
    padding: 5px 5px;
  }